@model IEnumerable<DTO.ReportsDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reports</h1>

<body>
    <table class="table">
        <thead>
            <tr>
                @* <th> @Html.DisplayNameFor(model => model.RentalHistoryId)   </th> *@
                <th> @Html.DisplayNameFor(model => model.UserName)          </th>
                <th> @Html.DisplayNameFor(model => model.CarBrand)          </th>
                <th> @Html.DisplayNameFor(model => model.CarModel)          </th>
                <th> @Html.DisplayNameFor(model => model.Days)              </th>
                <th> @Html.DisplayNameFor(model => model.TotalPrice)        </th>
                <th> @Html.DisplayNameFor(model => model.Address)           </th>
                <th> @Html.DisplayNameFor(model => model.ExpirationDate)    </th>
                <th> @Html.DisplayNameFor(model => model.DateReport)        </th>
                <th> @Html.DisplayNameFor(model => model.Status)            </th>
                <th> @Html.DisplayNameFor(model => model.Description)       </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>
                @Html.DisplayFor(modelItem => item.RentalHistoryId)
                </td> *@
                    <td>@item.UserName</td>
                    <td>@item.CarBrand</td>
                    <td>@item.CarModel</td>
                    <td>@item.Days</td>
                    <td>@(item.TotalPrice.HasValue ? item.TotalPrice.Value.ToString("C0") : "N/A")</td>
                    <td>@item.Address</td>
                    <td>@item.ExpirationDate</td>
                    <td>@item.DateReport</td>
                    <td>@item.Status</td>
                    <td>@item.Description</td>
                    @if (User.Identity.Name == "Admin")
                    {
                        <td>
                            <div class="action-buttons">
                                <form method="post" asp-action="Approve" asp-route-id="@item.Id">
                                    <button class="btn-approve" type="submit" name="action" value="Approve">Approve</button>
                                </form>
                                <span> | </span>
                                <form method="post" asp-action="Approve" asp-route-id="@item.Id">
                                    <button class="btn-reject" type="submit" name="action" value="Reject">Reject</button>
                                </form>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</body>

<style>
    body {
        background-color: #fff;
        background-image: none !important;
    }

    a {
        text-decoration: none;
    }
    .btn-approve{
        background-color: #198754;
        color:#fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
    }

    .btn-reject {
        background-color: #dc3545;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between; 
        width: 150px; 
    }
</style>
